<h1>Salieri Tweet投稿</h1>

<%
   doc_categories = DocCategory.where_type_genre
   # @fixme ログインユーザーのフォロワーを設定
   followers = TwitterAccount.where(:name_en => TwitterAccount.admin.name_en)
%>

<script type="text/javascript">
<!-- -->
function getMessageBox(){ return $("#message"); }

<!-- 宛先を選択 -->
function onchangeSendTo()
{
	var send_to = $("#select_send_to").val();
	if( send_to == "" ){ return false; }

	// @fixme 先頭からチェックして追加済みの宛先は無視する
	var message_box = getMessageBox();
	var current_msg = message_box.val();
	message_box.val(send_to + " " + current_msg);

	return true;
}

<!-- カテゴリを選択 -->
function onchangeCategory()
{
	var hash = $("#select_category").val();
	if( hash == "" ){ return false; }

	var message_box = getMessageBox();
	var current_msg = message_box.val();
	// @fixme hashの重複チェック
	message_box.val(current_msg + " " + hash);

	return true;
}
</script>

<%= form_tag(salieri_twitters_create_tweet_path) do |f| %>
	<%= text_area_tag "message", "", :maxlength => "140", :rows => 4, :cols => 30, :style => "font-size:170%;", :id => "message" %><br>
	<table border="2">
	  <tbody>
		<tr>
		  <th>宛先追加</th>
		  <th><%= select_tag "", options_for_select(followers.map { |u| ["#{u.name_en}を追加", "@#{u.name_en}"] }), {:include_blank => true, :onchange => "onchangeSendTo()", :id => "select_send_to"} %></th>
		</tr>
		<tr>
		  <th>カテゴリ追加</th>
		  <th><%= select_tag "", options_for_select(doc_categories.map { |c| ["「\##{c.name_jp}」追加", "\##{c.name_jp}"] }), {:include_blank => true, :onchange => "onchangeCategory()", :id => "select_category"} %></th>
		</tr>
	  </tbody>
	</table>
	<br>
	<%= submit_tag "ツイート" %>
<% end %>
